#about{
    padding-top: 40px;
    padding-bottom: 40px;    
    .about-img{
        border-radius: 50%;
        display: block;
        margin: 0 auto;
    }
    .about-item{
        background-color: $white;
        padding: 40px 20px;    
        @include transform(1, 1.02);            
    }
    .about-title{
        font-size: $font18;
        color: $gray_dark;
        margin-top: 20px;        
        margin-bottom: 20px;        
    }    
}