#about{
    padding-top: 60px;
    padding-bottom: 60px;   
     
    .about-img{
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        max-width: 120px;
    }
    .about-item{
        padding: 70px;    
        @include transform(1, 1.02);  
        border-radius: $radius;     
        min-height: 455px;
        &:hover{
            cursor: default;
        }
    }
    .item-purple{
        background-color: $purple;
    }
    .item-pink{
        background-color: $pink;
    }
    .about-title{
        font-size: $font25;
        margin-top: 20px;        
        margin-bottom: 20px;  
        color: $white;      
    }    
    .about-description{
        font-size: $font20;
        max-width: 600px;
        color: $white;
    }
    @include media_query_max(992px){
        .about-description{
            max-width: 100%;
        }
        .about-item{
            padding: 40px 20px;
        }
    }
}