.footer{
    padding-top: 60px;
    background-color: $white;
    [class*="fa"]{
        color: $purple;
    }
    .footer-nav{
        padding-left: 0;
        list-style: none;
        .footer-link{
            text-decoration: none;
            font-size: $font18;
            font-weight: bold; 
            color: $gray_dark;
            line-height: 1.5;
            margin-bottom: 20px;
        }
        .footer-email{
            font-weight: normal;
            display: block;
        }
    }
    .footer-copyright{
        margin-top: 60px;
        background-color: $gray_light;
        padding: 20px;
        text-align: center;
        .copyright-link{
            color: $gray;
            display: inline-block;
            text-align: center;
            text-decoration: none;
        }
    }
}