.section-title{
    color: $purple;
    font-size: $font26;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.section-description{
    color: $gray_dark;
    font-size: $font16;
    text-align: center;
    margin-bottom: 50px;
}
