#header{
    .navbar{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .nav-link{
        text-decoration: none;
        @include media_query_max(992px){
            display: block;
            text-align: center;
        }
    }
    .navbar-toggler{
        background-color: $gray;
    }
}