#location{
    padding-top: 60px;
    padding-bottom: 60px;
    .section-description{
        text-align: left;
    }
    .location-title{
        color: $purple;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: $font26;
    }
    .location-item{
        display: flex;
        flex-wrap: wrap;
    }
    .location-icon{
        height: 70px;
        margin-right: 20px;
    }
    .location-img{
        max-height: 100%;
    }
    @include media_query_max(992px){
        .location-icon{
            flex-grow: 0;            
        }
        .location-description{
            padding-left: 0;            
        }
        .location-item{            
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 20px;
        }
        .location-icon{         
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
}

#location a{
        color: $pink;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: $font24;
    }