#main{
    display: flex;
    #carrosel-main{
        height: 100vh;
        width: 100%;
    }
    .carrossel-main-item{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: relative;
        @include bg_color_after();
        .main-img{
            background-size: cover;
            background-position: center;
        }
    }
    .main-wrapper{
        z-index: 1;
    }
    .main-title{
        font-size: $font40;
        font-weight: bold;
        text-transform: uppercase;
        color: $white;
        margin-bottom: 20px;
    }    
    .main-subtitle{
        font-size: $font19;
        color: $white;        
    }
    .main-description{
        margin-top: 20px;
        margin-bottom: 20px;
        color: $white;
    }
}