#participants{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $white;
    .participants-img{
        border-radius: 50%;
        display: block;
        margin: 0 auto;
    }
    .participants-title{
        font-size: $font18;
        color: $gray_dark;
        margin-top: 20px;        
        margin-bottom: 10px;        
    }  
    .participants-ocupation{
        margin-bottom: 20px;
        color: $gray_dark;

    }
}