#participants{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $white;
    .participants-item{
        @include media_query_max(992px){
            margin-bottom: 30px;
        }
    }
    .section-title{
        margin-bottom: 20px;
    }
    .participants-img{
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        max-width: 200px;
    }
    .participants-title{
        font-size: $font30;
        color: $purple;
        margin-top: 20px;        
        margin-bottom: 20px;        
    }  
    .participants-description{
        font-size: $font24;
    }
    .participants-ocupation{
        margin-bottom: 20px;
        color: $gray_dark;
        font-size: $font24;
    }
    @include media_query_max(992px){
        .participants-title{
            font-size: $font20;
        }  
        .participants-ocupation{
            font-size: $font15;
        }
        .participants-description{
            font-size: $font15;
        }
    }
}