#partners{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $pink;
        
    .partners-item{
        @include media_query_max(992px){
            margin-bottom: 30px;
        }
    }
    .section-title{
        margin-bottom: 50px;
    }
    strong{
        font-size: inherit;
    }
    .partners-img{
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        max-width: 200px;
        @include media_query_max(992px){
            max-width: 140px;
        }
    }
    .partners-title{
        font-size: $font30;
        color: $white;
        margin-top: 20px;        
        margin-bottom: 40px;        
    }  
    .partners-description{
        font-size: $font26;
        color: $gray_dark;
        strong{
            color: inherit;
            font-size: inherit;
        }
    }
    .partners-ocupation{
        margin-bottom: 20px;
        color: $gray_dark;
        font-size: $font24;
    }
    @include media_query_max(992px){
        .partners-title{
            font-size: $font20;
        }  
        .partners-ocupation{
            font-size: $font15;
        }
        .partners-description{
            font-size: $font15;
        }
    }
}