/**** COLORS AND VARIABLES ****/
$white: #fff;
$black: #000;
$gray_dark: #404041;
$gray: #6d6e71;
$gray_light: #939598;
$purple: #8e44ad;
$red: #c0392b;
$orange: #d35400;

$theme-colors: (
    // "gray": $gray
);

// Default variables Bootstrap
$dropdown-link-active-bg: transparent;
$input-btn-focus-color: none;

/**** FONTS ****/
$font10: 10px;
$font12: 12px;
$font14: 14px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font22: 22px;
$font24: 24px;
$font26: 26px;
$font30: 30px;
$font36: 36px;
$font50: 50px;
