#who-we-are{
    padding-top: 60px;
    padding-bottom: 60px;
    @include img_bg('../img/bg-quem-somos-desk.jpg');
    width: 100%;
    height: auto;

    .section-title,    
    .section-description{
        color: $white;
    }    
    .icon-title,
    .icon-description {
        color: $white;
    }
    .who-we-are-items{
        display: flex;
        flex-wrap: wrap;        
        flex-direction: row;

        .icon-title{
            font-size: $font22;
            margin-bottom: 15px;
        }
        .who-we-are-icon{
            width: 30%;
        }
        .who-we-are-description{
            width: 70%;
            padding-left: 20px;
        }
    }    
    @include media_query_max(992px){
        .who-we-are-items{
            margin-bottom: 20px;
        }
    }
    @include media_query_max(768px){
        .who-we-are-items{
            flex-direction: column;
            text-align: center;
            align-items: center;
            img{
                display: block;
                margin: 0 auto 20px auto;
            }
            .who-we-are-icon,
            .who-we-are-description{
                width: 100%;
            }
            .who-we-are-description{
                padding-left: 0;
            }
        }        
    }
}
